.participationBox{
    display: grid;
    gap: 2vh;
    background-image: url("../../assets/clouds.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.participationBoxContent{
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    gap: 2vh;
    margin-top: 5vh;
}

.participationBoxContentBox{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 1vh;
    display: grid;
    width: 75vw;
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 3vh;
}
.participationBoxContentBox > h1{
    text-align: center;
}
.participationBoxContentBox > ul{
    list-style: none;
}
.participationBoxContentImgWrapper{
    height: 50vh;
    width: 40vw;
}
.participationBoxContentImgWrapper > img{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1024px){
    .participationBoxContentImgWrapper{
        width: 95vw;
        height: 30vh;
    }
    .participationBoxContentBox{
        width: 90vw;
    }
    .participationBoxContent > img{
        width: 80%;
    }
}