.HomeWrapper{
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    justify-content: center;
}
.HomeContent{
    display: grid;
    justify-content: center;
    overflow: scroll;
}
.section2{
    display: flex;
    justify-content: center;
    height: 120dvh;
    background-image: url('../../assets/clouds.png');
}
.section2ImgConatiner{
    margin-top: 10dvh;
    background-color: black;
    height: 95dvh;
    width: 90dvw;
    border-radius: 30px;
    background-image: url('../../assets/slider2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
}
.section2LeftSideImg{
    height: 100dvh;
    align-items: start;
    width: 45dvw;
    display: flex;
    justify-content: center;
}
.section2LeftSideImg > img{
    height: 110%;
    width: 100%;
    object-fit: contain;
}
.section2RightSideWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.section2RightSide{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    height: 80dvh;
}
.HeadersRightSide{
    color: white;
    font-size: 3.5dvh;
}
.ContentRightSide{
    display: grid;
    grid-template-rows: repeat(3,auto);
    gap: 3dvh;
    font-size: 2.8dvh;
    color: white;
}
.WatchNowButtonWrapper > button{
    width: 10dvw;
    height: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
    border: none;
    font-size: 3dvh;
    color: white;
    border-radius: 15px;
    background: rgba(225, 180, 67, 1);
}
.section3Wrapper{
    height: 150dvh;
    width: 100%;
}
.section3{
    height: 80dvh;
    width: 100%;
    background-image: url('../../assets/utsavBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4,auto);
    padding-top: 10dvh;
}
.section3 > h1{
    color: red;
    font-size: 10dvh;
    text-align: center;
    -webkit-text-stroke: 0.5px black;
}
.section3LiveEventBoxWrapper{
    display: flex;
    justify-content: center;
    width: 100dvw;
}
.section3LiveEventBox{
    height: 80dvh;
    width: 100dvh;
    border: 5px solid rgba(225, 180, 67, 1);
    border-radius: 15px;
}
.section3LiveEventBox > iframe{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: fill;
}
.LiveEventFooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.LiveEventFooterContent{
    display: flex;
    gap: 2dvh;
    align-items: center;
    color: rgba(253, 0, 0, 1);
}
.LiveEventFooterContent > h1{
    display: flex;
    font-size: 12dvh;
    font-weight: 700;
}
.LiveEventFooterContent > p{
    font-size: 6dvh;
    font-weight: 700;
}
.LiveEventFooterImgDesign{
    height: 15dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.LiveEventFooterImgDesign > img{
    width: 50%;
}
.section4{
    display: grid;
    justify-content: center;
    height: 130dvh;
    width: 100dvw;
    background-image: url('../../assets/clouds.png');
}
.imagesWrapper{
    display: grid;
    width: inherit;
    align-items: center;
    height: 45dvh;
    grid-template-columns: repeat(4,1fr);
}
.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30dvh;
    width: 20dvw;
}
.imgBox > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.aayojanWrapper{
    width: inherit;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
}
.aayojanHeaders{
    color: #FD0000;
    font-size: 10dvh;
    text-align: center;
    height: 20dvh;
    align-items: center;
    display: grid;
}
.aayojanDiv{
    width: inherit;
    display: grid;
    grid-template-columns: repeat(3,30dvw);
    justify-content: center;
}
.aayojanDivContent{
    display: grid;
    grid-template-rows: 70% 30%;
    justify-content: center;
    height: 50dvh;
}
.aayojanImgWrapper{
    display: flex;
    justify-content: center;
    width: 30dvw;
    height: 20dvw;
    overflow: hidden;
}
.aayojanImgWrapper > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.aayojanRectWrapper{
    position: relative;
    bottom: 50px;
    height: 15dvh;
    width: 30dvw;
    display: flex;
    justify-content: center;
}
.aayojanRect{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    width: 25dvw;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 1%;
}
.aayojanRect > h4{
    color: #E1B443;
    font-weight: normal;
    font-size: 4dvh;
}
.aayojanRect > p{
    font-size: 2.5dvh;
}
.section5{
    display: grid;
    width: inherit;
    height: 130dvh;
    gap: 10dvh;
    background-image: url('../../assets/clouds.png');
}
.howToParticipateSections{
    display: grid;
    justify-content: center;
}
.howToParticipateSectionsContent{
    display: grid;
    width: inherit;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
}
.howToParticipateSectionsHeaders > p {
    color: #FD0000;
    font-size: 8dvh;
    text-align: center;
}
.howToParticipateBox{
    display: grid;
    gap: 2dvh;
    width: 20dvw;
    justify-content: center;
}
.roundedImgText{
    display: flex;
    align-items: center;
    justify-content: center;
}
.roundedImgText > p{
    text-align:center;
    color: #FD0000;
    font-size: 4dvh;
}
.roundedImgButton{
    display: flex;
    justify-content: center;
}
.roundedImgButton > button{
    color: #071738;
    border: 1px solid #E1B443;
    padding: 1%;
    height: 5dvh;
    width: 8dvw;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #071738;
}
.registrationSection{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30dvh;
    gap: 0dvh;
    background-color: #071738;
    box-shadow: 2px 2px 5px #071738;
}
.registrationSectionButton{
    display: flex;
    justify-content: center;
}
.registrationSection > p{
    color: white;
    text-align: center;
    font-size: 5dvh;
}

.registrationSectionButton > button{
    height: 12dvh;
    width: 30dvw;
    background-color: #E1B443;
    color: #071738;
    font-size: 5dvh;
    border: none;
    border-radius: 50px;
}
.section6{
    display: grid;
    gap: 5dvh;
    height: 200dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
}
.section6HeadersImgWrapper{
    display: flex;
    height: 15dvh;
    justify-content: center;
}
.section6Headers{
    display: grid;
    gap: 2dvh;
    color: #071738;
    text-align: center;
    font-style: italic;
}
.section6FootersImgWrapper{
    display: flex;
    justify-content: center;
}
.section7{
    height: 80dvh;
    width: 100%;
    background-image: url('../../assets/utsavBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.section7Content > p{
    font-size: 10dvh;
    color: #071738;
}
.section7Content > p > span {
    color: #FD0000;
}
.section7Content > button{
    height: 8dvh;
    width: 12dvw;
    padding: 1%;
    background-color: #E1B443;
    color: #071738;
    border: none;
    border-radius: 50px;
    font-size: 3.5dvh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1024px) {
    .HomeWrapper{
        display: grid;
        justify-content: center;
        width: 100dvw;
    }
    .section2{
        height: 95dvh;
    }
    .section2ImgConatiner{
        display: flex;
        margin-top: 0dvh;
        width: 100dvw;
        border-radius: 0%;
        justify-content: center;
        background-color: #000000d1;
    }
    .HeadersRightSide{
        text-align: center;
        font-size: 2dvh;
    }
    .ContentRightSide{
        padding: 0% 1.5%;
        font-size: 2dvh;
        text-align: center;
    }
    .WatchNowButtonWrapper{
        display: flex;
        justify-content: center;
    }
    .WatchNowButtonWrapper > button{
        width: 30dvw;
        text-align: center;
    }
    .section2RightSide{
        height: 25dvh;
    }
    .section2RightSideWrapper{
        height: 30dvh;
    }
    .section2ImgConatiner, .section2{
        height: 65dvh;
    }
    .section3Wrapper{
        display: flex;
        justify-content: center;
        height: 130dvh;
    }
    .section3{
        width: 100dvw;
    }
    .section3 > h1{
        font-size: 7dvh;
    }
    .section3LiveEventBox{
        display: flex;
        justify-content: center;
        width: 80dvw;
        height: 60dvh;
    }
    .LiveEventFooterImgDesign{
        width: 100dvw;
    }
    .LiveEventFooterContent{
        flex-direction: row;
    }
    .LiveEventFooterContent > h1{
        font-size: 4dvh;
    }
    .LiveEventFooterContent > p {
        font-size: 3.5dvh;
    }
    .section4{
        height: 100%;
    }
    .imagesWrapper{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: none;
        height: auto;
        width: 100dvw;
        justify-content: center;
    }
    .imgBox{
        height: 35dvh;
        width: 75dvw;
    }
    .aayojanHeaders{
        font-size: 5dvh;
        height: fit-content;
    }
    .aayojanWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aayojanDiv{
        /* width: 100dvw; */
        grid-template-columns: none;
        grid-template-rows: repeat(3,1fr);
    }
    .aayojanDivContent{
        width: 100dvw;
        height: 50dvh;
    }
    .aayojanImgWrapper{
        width: 100dvw;
        height: 35dvh;
    }
    .aayojanRectWrapper{
        width: 100dvw;
    }
    .aayojanRect{
        width: 95dvw;
    }
    .howToParticipateSectionsContent{
        grid-template-columns: none;
        grid-template-rows: repeat(4,1fr);
    }
    .roundedImgButton > button{
        width: 30dvw;
    }
    .howToParticipateSectionsHeaders > p {
        font-size: 5dvh;
    }
    .registrationSection{
        height: 20dvh;
    }
    .registrationSection > p{
        font-size: 2.2dvh;
        word-break: keep-all;
    }
    .registrationSectionButton > button{
        margin-top: 2dvh;
        width: 90dvw;
        height: 8dvh;
        font-size: 3dvh;
    }
    .section5{
        height: auto;
    }
    .section6{
        margin-top: 5%;
        height: auto;
    }
    .section6Headers{
        width: 100dvw;
    }
    .section6HeadersImgWrapper{
        width: 100dvw;
        display: flex;
        justify-content: center;
    }
    .section6ImgWrapper > img{
        width: 100dvw;
    }
    .section6HeadersImgWrapper > img{
        width: 90dvw;
        height: 10dvh;
    }
    .section6FootersImgWrapper > img{
        width: 90dvw;
    }
    .section7Content{
        display: grid;
        justify-content: center;
    }
    .section7Content > p{
        font-size: 8dvh;
    }
    .section7Content > button{
        width: 80dvw;
    }
}