.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    padding: 2vw;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .uploadWrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .input {
    display: block;
    margin: 2vh auto;
  }
  
  .preview {
    width: 100%;
    max-width: 30vw;
    margin: 2vh auto;
    border-radius: 1vh;
  }
  .selectContainer{
    display: grid;
    justify-content: left;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-family: sans-serif;
  }
  .audio {
    width: 100%;
    max-width: 30vw;
    margin: 2vh auto;
  }
  
  .fileName {
    margin: 2vh 0;
    font-weight: bold;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 2vh 3vw;
    margin-top: 2vh;
    cursor: pointer;
    border-radius: 1vh;
  }
  
  .button:disabled {
    background-color: #aaa;
  }
  
  .message {
    margin-top: 2vh;
    font-size: 1.5vh;
  }
  