.appStructure{
    display: grid;
    grid-template-rows: 15dvh auto;
    grid-template-columns: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.innerBody{
    display: grid;
    grid-template-rows: auto auto;
    height: 100vh;
    overflow-y: scroll;
}