.SliderWrapper{
    height: 90dvh;
    width: 100dvw;
    overflow: hidden;
}
.assestWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.assestWrapper > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}